.bookdiv{
    margin: 7px 5%;
    padding: 7px;
    background: #dbf8ff;
    /*font-weight: lighter;*/
    width: 90%;
    font-size: medium;
}
.bookdiv p {
    margin: 3px;
    padding: 0;
}
.bookdiv div{
    font-weight: lighter;
    padding: 0;
    margin: 3px;
}
.bookdiv a{
    font-size: smaller;
    cursor: pointer;
    color: #002371;
    text-decoration: underline;
}
.bookdiv p span{
    font-weight: bold;
    font-size: large;
}
.bookcontainer{

}